.list {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 40px;
}
.option {
        width: 110px;
        font-weight: 400;
        padding: 8px;
        outline: none;
        border: none;
        border-radius: 4px;
        background-color: rgb(255, 233, 236);
        cursor: pointer;
        transition: scale 200ms ease-in-out;
}
.option:hover {
        scale: 1.2;
        font-weight: 700;
        background-color: rgb(238, 151, 203);
}